/* .logo-image {
    height: 40px;
    width: auto;
    display: inline-block;
} */

.sortable {
    cursor: pointer;
}

.ql-container {
    height: 250px !important;
}

.img-sm {
    width: auto;
    height: 50px;
}